body {
  font-size: 1.15em;
}

.row {
  height: 97vh;
  display: flex;
  flex-direction: column;
}

.sidenav {
  flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}